<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class = "job-listing" >
        <tr th:each="job : ${jobs}" >
            <td>
                <p  th:text="${'ID: ' + job.id}">Test Text</p>
                <p  th:text="${'Name: ' + job.name}">Test Text</p>
                <p  th:text="${'Employer: ' + job.employer}">Test Text</p>
                <p  th:text="${'Location: ' + job.location}">Test Text</p>
                <p  th:text="${'Position Type: ' + job.positionType}">Test Text</p>
                <p  th:text="${'Core Competency: ' + job.coreCompetency}">Test Text</p>
            </td>
        </tr>

    </table>

</div>

</body>
</html>